<nav class="gengo-tabs clearfix"><!-- gengo nav -->
  <ul>
    <li>
        <a href="http://gengo.com/express/order-translation/" class="link-section-tab ">Order now</a>
    </li>
    <li>
        <a href="http://gengo.com/enterprise/" class="link-section-tab ">Enterprise</a>
    </li>
    <li>
        <a href="http://gengo.com/how-it-works/" class="link-section-tab link-section-tab-before-selected">How it works</a>
    </li>
    <li>
        <a href="http://gengo.com/api/" class="link-section-tab link-section-tab-selected">Developers</a>
    </li>
    <li>
        <a href="http://gengo.com/customers/" class="link-section-tab link-section-tab-last">Customers</a>
    </li>
  </ul>
</nav>