<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-guides"><h3><a href="/legacy/">Legacy API Documentation</a></h3></li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/<%= language_root_url_of(@item) %>overview/">システム概観</a></h3>
        <ul class="js-guides">
          <li><a href="/<%= language_root_url_of(@item) %>overview/client_libraries/">Client Libraries</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/authentication/">Authentication</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/callback_urls/">Callback URLS</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/sandbox/">Sandbox Testing</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/first_steps/">First Steps</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/best_practices/">Best Practices</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/ui_recommendations/">UI Recommendations</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/api_methods/">API Methods</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/throttling/">Throttling</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/<%= language_root_url_of(@item) %>v2/payloads/">Payloads</a></h3>
        <ul class="js-guides">
          <li><a href="/<%= language_root_url_of(@item) %>v2/error_codes/">Error codes</a></li>
          <li><a href="http://gengo.com/how-it-works/pricing-languages/">Supported translation languages</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/<%= language_root_url_of(@item) %>v2/account/">Account</a></h3>
        <ul class="js-guides">
          <li><a href="/<%= language_root_url_of(@item) %>v2/account/#stats-get">Stats (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/account/#balance-get">Balance (GET)</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/<%= language_root_url_of(@item) %>v2/job/">Job</a></h3>
        <ul class="js-guides">
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#job-get">Job (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#job-put">Job (PUT)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#job-delete">Job (DELETE)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#preview-get">Preview (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#revisions-get">Revisions (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#revision-get">Revision (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#feedback-get">Feedback (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#comment-post">Comment (POST)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/job/#comments-get">Comments (GET)</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/<%= language_root_url_of(@item) %>v2/glossary/">Glossary</a></h3>
        <ul class="js-guides">
          <li><a href="/<%= language_root_url_of(@item) %>v2/glossary/#glossaries-get">Glossary (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/glossary/#glossary-get">Glossary by id (GET)</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/<%= language_root_url_of(@item) %>v2/jobs/">Jobs</a></h3>
        <ul class="js-guides">
          <li><a href="/<%= language_root_url_of(@item) %>v2/jobs/#job">Job Group (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/jobs/#jobs-post">Jobs (POST)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/jobs/#jobs-get">Jobs (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/jobs/#jobs-by-id-get">Jobs by id (GET)</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/<%= language_root_url_of(@item) %>v2/service/">Service</a></h3>
        <ul class="js-guides">
          <li><a href="/<%= language_root_url_of(@item) %>v2/service/#language-pairs-get">Language Pairs (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/service/#languages-get">Languages (GET)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/service/#quote-post">Quote (POSt)</a></li>
          <li><a href="/<%= language_root_url_of(@item) %>v2/service/#quote-files-post">Quote files (POST)</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
